/* Fonts to use in the site*/

$font-heading: "Dancing Script", cursive;
$font-subheading: "Sarala", sans-serif;
$font-body: "Cagliostro", sans-serif;

/* Weights for the text */

$bold: 700;
$normal: 400;