.illustration-cta {
    img {
        width: 50%
    }
}

#service-accueil {
    
    article {
        width: 100%
    }
    
    img {
        width: 50vw;
    }

}

#reviews {
    width: 100%;

    img {
        width: 33%;
    }
}