@use '../abstracts/variables';
@use '../base/typography';

header {
    
    content: 2vh 100%;

    #logo {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        background: variables.$main-color;
        
        img {
            width: 10vw;
        }
    }
}