@use '../abstracts/variables';
@use '../base/typography';

header {
    #logo {
        display: flex;
        justify-content: center;
        background: black;

        img {
            width: 480px;
        }
    }
}