@use '../abstracts/variables' as *;
@use '../base/typography';

footer {
    font-family: typography.$font-body;
    background: $main-color;
    width: 100%;
    padding: 2vh 0 0vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  
    .logo {
      img {
        width: 70vw;
        max-width: 320px;
        object-fit: cover;
        padding-right: 0;
        border: none;
      }
    }

    .social-media {
        text-align: center;

        .sm-logo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            img {
                min-width: 40px;
                height: auto;
                margin: 2vh 5vw;
            }
        }
    }
  
    .contact {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: space-around;

      p {
        align-self: start;
        margin-top: 2vh;
      }
    }
  
    #copyrights {
      background: $secondary-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2vh 20vw;
      text-align: center;
    }
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;

        a {
          font-size: 1.4rem;
        }
    
        .logo {
          grid-row: span 3;
          justify-self: center;
  
        }
    
        .social-media {
          grid-row: 2;
          grid-column: 2;
          margin-left: 4vw;
          text-align: left;
          padding-left: 2vw;
          border-left: thin solid;
  
          .sm-logo {
  
              justify-content: flex-start;
              align-content: flex-end;
  
              img {
                  max-width: 60px;
                  margin: 2vh 2vw 0vh 0vw
              }
          }
        }
    
        .contact {
          grid-row: 2;
          grid-column: 3;
          text-align: left;
          border-left: thin solid;
          padding-left: 2vw;
        }
    
        #copyrights {
          grid-column: span 3;
        }
      }
}
