@use '../abstracts/variables' as *;
@use '../base/typography';

footer {
    font-family: typography.$font-body;
    background: $main-color;
    width: 100%;
    padding: 2vh 0 0vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  
    .logo {
      img {
        width: 70vw;
        max-width: 320px;
        object-fit: cover;
        padding-right: 0;
        border: none;
      }
    }

    .social-media {
        text-align: center;
        b {
          font-size: 1.25em;
        }

        .sm-logo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            img {
                min-width: 40px;
                height: auto;
                margin: 2vh 5vw;
            }
        }
    }
  
    .contact {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      
      b {
        font-size: 1.25em;
      }

      p {
        align-self: start;
        margin-top: 2vh;
      }
    }
  
    #copyrights {
      background: $secondary-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2vh 20vw;
      font-size: 0.9em;
      text-align: center;
    }
}
