@use '../abstracts/variables';
@use '../base/typography';

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: typography.$font-subheading;

    a {
        display: flex;
        justify-content: center;
        background: variables.$main-color;
        margin: 0;

        img {
            width: 50%;
            max-height: 120px;
            object-fit: cover;
        }
    }

    nav {
        background: variables.$secondary-color;
        padding: 0;
        margin: 0;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0.5rem 0;
            margin: 0;

            li {
                padding: 0.75rem 0;

                    a {
                        text-decoration: none;
                        color: black;
                        background: none;
                    }

                    &:hover {
                    background-color: variables.$accent-color;
                    }
            }
        }
    }

    // Desktop styles
    @media (min-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: variables.$main-color;


        .logo {
            img {
                width: 180px;
                max-height: 180px;
            }
        }

        nav {
            width: 100%;

            ul {
                flex-direction: row;
                justify-content: space-around;
                padding: 0%;

                li {
                    padding: 1rem 2rem;
                }
            }
        }
    }
}