@use '../abstracts/variables' as *;

#cta {
    a {
      background: darkslateblue;
      display: block;
      margin: 2vh auto 0;
      padding: 1em 2em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      color: white;
      border-radius: 1em;
      font-size: clamp(0.9rem, 2.5vw, 1.1rem);
      width: fit-content;
      min-width: 40vw; // good for mobile
      max-width: 80vw;
      transition: all 0.3s ease;
  
      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.02);
      }
    }
  
    @media (min-width: 768px) {
      a {
        min-width: 20vw;
        font-size: 1.4rem;
        margin-bottom: 0%;
      }
    }
  }