@use '../base/typography';
@use '../abstracts/variables' as *;
@use '../components/buttons';

#cta {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  
    h1 {
      visibility: hidden;
      grid-column: span 1;
      justify-self: center;
      margin: -15vh;
    }
  
    .cta {
      background: $main-color;
      padding: 10%;
  
      h2 {
        text-align: center;
        padding-top: 1vh;
      }
  
      p {
        text-align: justify;
        text-align-last: center;
        padding: 3vh 2vw 3vh;
        border-bottom-left-radius: 2.5em;
        border-bottom-right-radius: 2.5em;
      }
    }
  
    .illustration-cta {
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    @media (min-width: 768px) {
      grid-template-columns: 50% 50%;
      grid-template-rows: 0% 100%;
  
      h1 {
        grid-column: span 2;
        margin: -15vh;
      }
  
      .cta {
        padding: 15%;
      }
  
      .illustration-cta img {
        height: 100%;
      }
    }
  }

#presentation {
    display: block;
    background: $secondary-color;
    padding: 2.5% 10%;

    h2 {
        text-align: center;
        padding: 5vh 4vw 5vh;
        border-top-left-radius: 2.5em;
        border-top-right-radius: 2.5em;
    }

    p {
        text-align: justify;
        text-align-last: center;
        padding: 5vh 4vw 5vh;
        border-bottom-left-radius: 2.5em;
        border-bottom-right-radius: 2.5em;
    }
}

#service-accueil {

    h2 {
        text-align: center;
        padding: 3vh;
        border-top-left-radius: 2.5em;
        border-top-right-radius: 2.5em;
    }
    
    article {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

        figure {
            width: 100%;
            grid-row: span 2;

            img {
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }

        h3 {
            justify-self: center;
            align-self: end;
        }

        p {
            padding: 3vh 15vw;
        }
    }

    .presta-1 {
        background-color: $main-color;
    }

    .presta-2 {
        background: $secondary-color;

        figure {
            grid-column-start: 2;
            grid-row-end: 2;
        }
    }

    .presta-3 {
        background: $main-color;
    }
}

#reviews {
    width: 100%;
    background-color: $secondary-color;

    h2 {
        text-align: center;
        padding: 5vh 0vw
    }

    .reviews {
        display: flex;
        justify-content: space-around;
        max-height: 400px;

        img {
            width: 33%;
            object-fit: cover;
        }
    }
}