@use '../abstracts/mixins';
@use '../abstracts/variables';

#blog {
    display: flex;
    flex-direction: column;
    padding: 0 4vw;
  
    h1 {
      text-align: center;
      padding: 5vh 0;
    }
  
    article {
      @include mixins.blog-article;
      background: variables.$main-color;
  
      img {
        width: 100%;
        height: auto;
      }
    }
  
    aside {
      @include mixins.aside;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2vw;
      order: 2;
    }

    .blog-nav {
        padding: 2vh 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5vh;
    }
  
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 0vw;
  
      h1 {
        grid-column: span 2;
      }
  
      aside {
        grid-column: 2;
        grid-row: 2;
  
        article {
  
          img {
            width: 100%;
          }
        }
      }

      .blog-nav {
            flex-direction: row;
            justify-content: space-between;
            grid-row-start: 3;
        }
    }
}