@use './variables';

@mixin blog-article {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    padding: 3vh 1vw 1vh;
    text-align: justify;
    text-align-last: left;

    p {
        padding: 3vh 0vw;
    }

    h2 {
        padding-top: 2vh;
    }
}

@mixin aside {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 0vh 0vw;
    justify-content: space-between;
    width: 30vw;
    align-content: end;
}