@use './variables';

@mixin blog-article {
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw 1vh;
    text-align: justify;
    text-align-last: left;
  
    p {
      padding: 3vh 0;
    }
  
    h2 {
      padding-top: 2vh;
    }
}

@mixin aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    width: 100%;
  
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vh;
  
      img {
        width: 100%;
        max-width: 180px;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        margin-bottom: 2vh;
      }
      
      &:nth-child(n+3) {
        display: none;
      }
    }
  
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30vw;
      justify-self: center;
      padding: 0vw;
  
      article {
        margin-bottom: 0vh;

        img {
          width: 100%;
          max-width: 100%;
          max-height: 200px;
        }

        &:nth-child(n+3) {
            display: flex;
          }
      }
    }
  }